@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Dosis", system-ui;
  font-weight: 400;
  /* outline: 1px solid red; */
  max-width: 100%;
}

.header {
  font-size: 12px;
  font-weight: bold;
}

.container00 {
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container00.container01 {
  background-image: url(/bg2.jpg);
}
.container00.container02 {
  background-color: rgb(58, 58, 58);
}
.container00.container03 {
  background-color: rgb(41, 41, 41);
}
.container00.container04 {
  background-color: rgb(58, 58, 58);
}

.container-grid {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important; /* 3 colunas */
  gap: 100px !important; /* Espaçamento entre os itens */
  margin: auto 100px !important; /* Margem para separar da seção anterior */
  padding-top: 40px;
  padding-bottom: 60px;
}

.containerAbout {
  width: 800px;
  min-height: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.containerProjects {
  width: 500px;
  height: 420px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.title {
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 32px;
}

.title.titleSkills {
  background-color: rgb(41, 41, 41);
}
.title.titleProjects {
  background-color: rgb(58, 58, 58);
}

.titleName {
  padding-top: 80px;
}

.titleAbout {
  font-size: 30px;
  text-align: center;
  padding-top: -10px;
}

.textAbout {
  font-size: 20px;
  text-align: justify;
}

.category {
  background-color: rgb(58, 58, 58);
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 8px;
  color: white;
}

.carousel-control-prev {
  top: 40%;
  transform: translateY(-50%);
}

.carousel-control-next {
  top: 40%;
  transform: translateY(-50%);
}

.carousel-indicators {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.categoryImg {
  max-width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.categoryTitle {
  margin-bottom: 10px;
}

.btn {
  font-size: 12px;
}

.logoDev {
  width: 60px;
  margin-left: -10px;
  margin-right: 20px;
}

.logoWeb {
  padding-top: 30px;
  width: 60px;
}

.logoCertificate {
  width: 40px;
  padding-top: 10px;
}

.btn {
  font-size: 14px;
}

.footer {
  background-color: rgb(41, 41, 41);
  height: 15vh;
  font-size: 12px;
  font-weight: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyOBC {
  color: #555252;
}

@media (max-width: 1200px) {
  .container-grid {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important; /* 3 colunas */
    gap: 100px !important; /* Espaçamento entre os itens */
    margin: auto 100px !important; /* Margem para separar da seção anterior */
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
@media (max-width: 892px) {
  .container-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important; /* 3 colunas */
    gap: 100px !important; /* Espaçamento entre os itens */
    margin: auto 100px !important; /* Margem para separar da seção anterior */
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .container-grid {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    margin: 0 auto !important;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .containerAbout {
    width: 400px;
    height: 880px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 70px;
  }
  .category {
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 540px) {
  .containerProjects {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
